{
  "semi": true,
  "tabWidth": 2,
  "singleQuote": false,
  "printWidth": 120,
  "trailingComma": "none",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^vue",
    "^quasar$",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@assets/(.*)$",
    "^@boot/(.*)$",
    "^@components/(.*)$",
    "^@functions/(.*)$",
    "^@layout/(.*)$",
    "^@plugins/(.*)$",
    "^@router/(.*)$",
    "^@store/(.*)$",
    "^@stores/(.*)$",
    "^@views/(.*)$",
    "",
    "^[.]"
  ]
}
